################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net_test/IOCP_console_server/IOCP_console_server.VC.VC.opendb
